
.leftRs {
  background-color: Transparent;
  position: absolute;
  top: 50px;
  bottom: 90px;
  left: -40px;
  color: red;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  max-height: 300px;
  margin: auto;
  border: none;
}

.rightRs {
  background-color: Transparent;
  position: absolute;
  top: 50px;
  bottom: 90px;
  right: -40px;
  color: red;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  margin: auto;
  border: none;
}

.leftRs:hover {
  transform: scale(1.2);
  opacity: 1;
  border: none;
}

.rightRs:hover {
  transform: scale(1.2);
  opacity: 1;
  border: none;
}

.movie-carousel {
  max-width: 80%;
}
