<mat-card (mouseenter)='mouseenter($event)' (mouseleave)="mouseleave($event)">
  <mat-card-title>
    <span matTooltip="Plot: {{movie.description}}" matTooltipShowDelay="2000">
      <a href="javascript:void(0);" (click)="toggleShowDiv()"><img mat-card-image src={{movie.posterUrl}} height="300px"></a>
    </span>
  </mat-card-title>

  <mat-card-content class="title">
    <span matTooltip="{{movie.name}}" matTooltipShowDelay="1500"><strong>{{movie.name}}</strong></span>
    <p>{{movie.year}} | <app-imdb-rating [imdbRating]="movie.imdbRating"></app-imdb-rating></p>
  </mat-card-content>
</mat-card>
