<div fxLayout="row" dir="rtl" fxLayoutGap="15px">
  <button mat-icon-button matTooltip="Grid view" matTooltipShowDelay="1500" (click)="setViewType(ViewTypes.GridView)">
    <mat-icon class="material-icons md-48">view_module</mat-icon>
  </button>
  <button mat-icon-button matTooltip="List view" matTooltipShowDelay="1500" (click)="setViewType(ViewTypes.ListView)">
    <mat-icon class="material-icons md-48">view_headline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Genre list view" matTooltipShowDelay="1500" (click)="setViewType(ViewTypes.CategoryListView)">
    <mat-icon class="material-icons md-48">list</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Category view" matTooltipShowDelay="1500" (click)="setViewType(ViewTypes.CategoryView)">
    <mat-icon class="material-icons md-48">view_day</mat-icon>
  </button>
</div>
