<div fxLayout="row" dir="rtl" fxLayoutGap="15px">
  <app-movie-sort [movies]="movies" (moviesSorted)="moviesSorted($event)"></app-movie-sort>
</div>

<div fxLayout="column"
     fxLayoutGap.xs="0"
     fxLayoutAlign="space-between center">

<mat-list class="movie-list-genre-settings">
  <div *ngFor="let genreMovies of moviesByGenre">
    <div *ngIf="genreMovies.movies.length > 0">
      <h3 mat-subheader>{{genreMovies.genre}}</h3>
      <app-movie-list-item *ngFor="let movie of genreMovies.movies" [movie]="movie" (movieDeleteEvent)="deleteMovie($event)"></app-movie-list-item>
    </div>
  </div>
 </mat-list>
</div>
