<div>
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to your app </h1>
  </header>
</div>


<!-- Movies -->
<h2>Movies <span style="color: #dddddd; font-size: 22px;">({{allMovies.length}})</span></h2>
<app-movies-carousel [movies]="allMovies"></app-movies-carousel>

<!--<mat-divider></mat-divider>-->

<!-- TV shows-->
<h2>TV Shows <span style="color: #dddddd; font-size: 22px;">({{allTvShows.length}})</span></h2>
<app-movies-carousel [movies]="allTvShows"></app-movies-carousel>







