<div>
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to your app </h1>
  </header>
</div>


<!-- Movies -->
<h2>Movies</h2>
<app-movies-list [movies]="allMovies"></app-movies-list>

<mat-divider></mat-divider>

<!-- TV shows-->
<ngx-carousel
  [inputs]="carouselTile"
  (carouselLoad)="carouselTileLoad($event)">

  <ngx-tile NgxCarouselItem *ngFor="let tvShow of allTvShows">
    <app-tv-show-item [tvShow]="tvShow"></app-tv-show-item>
  </ngx-tile>

  <button NgxCarouselPrev class="leftRs"><i class="fa fa-angle-left fa-3x"></i></button>
  <button NgxCarouselNext class="rightRs"><i class="fa fa-angle-right fa-3x"></i></button>
</ngx-carousel>







