
/*.movie-list-settings {*/
  /*min-width: 500px;*/
/*}*/

virtual-scroll {
  display: block;
  margin: auto;
  width: 90%;
  height: 400px;
}

app-movie-list-item {
  display: block;
  margin: auto;
  width: 60%;
}
