<div fxLayout="row" dir="rtl" fxLayoutGap="15px">
  <app-movie-sort [movies]="movies"></app-movie-sort>
</div>

<div fxLayout="column"
     fxLayoutGap.xs="0"
     fxLayoutAlign="space-between center">
  <!--<mat-card>-->
    <!--<mat-card-content>-->
      <!--<mat-form-field>-->
        <!--<mat-select placeholder="Sort by:" [(value)]="selectedSortingType">-->
          <!--<mat-option value="sortByName" (click)="sortMoviesByName()">Name</mat-option>-->
          <!--<mat-option value="sortByImdbRating" (click)="sortMoviesByImdb()">IMDB rating</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->

  <!--<virtual-scroll [items]="buffer" (update)="movies = $event" (change)="onListChange($event)">-->
    <!--<div *ngIf="movies.length > 0">-->
      <!--<app-movie-list-item *ngFor="let movie of movies" [movie]="movie" (movieDeleteEvent)="deleteMovie($event)"></app-movie-list-item>-->
    <!--</div>-->
    <!--<div *ngIf="loading" class="loader">Loading...</div>-->
  <!--</virtual-scroll>-->

  <mat-list class="movie-list-settings">
      <div *ngIf="movies.length > 0">
        <app-movie-list-item *ngFor="let movie of movies" [movie]="movie" (movieDeleteEvent)="deleteMovie($event)"></app-movie-list-item>
      </div>
  </mat-list>
</div>
