<mat-card class="mat-elevation-z4 movie-item" [ngClass]="{'zoom': !expanded }">
  <mat-card-title>
    <span matTooltip="{{movie.name}}" matTooltipShowDelay="1500">
      <a href="javascript:void(0);" (click)="toggleShowDiv()"><img mat-card-image src={{movie.posterUrl}} height="300px"></a>
    </span>
  </mat-card-title>

  <mat-card-content *ngIf="expanded" [@slideInOut]="animationState">
    <h2 style="padding-top: 20px;">{{movie.name}} <app-imdb-rating [imdbRating]="movie.imdbRating"></app-imdb-rating></h2>
    <h4>{{movie.year}}</h4>
    <p><strong>Length:</strong> {{movie.length | movieLength}}</p>
    <p><strong>Director:</strong> {{movie.directors}}</p>
    <p><strong>Actors:</strong> {{movie.actors}}</p>
    <p><strong>Country:</strong> {{movie.country}}</p>
    <p><strong>Production:</strong> {{movie.production}}</p>
    <p><strong>Genre:</strong> {{movie.genre}}</p>
    <p><strong>Description:</strong> {{movie.description}}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button *ngIf="expanded" (click)="deleteMovie()"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button (click)="toggleShowDiv()" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'"><mat-icon>expand_more</mat-icon></button>
  </mat-card-actions>
</mat-card>
