<mat-card class="movie-list-item mat-elevation-z4" [ngClass]="{'zoom': !expanded }">
  <mat-card-header (click)="toggleShowDiv()">
    <div fxFlex="row">
      <img mat-card-sm-image src={{movie.posterUrl}}/>
      <!-- mat-card-avatar-->
      <h4 fxFlex="auto" fxFlexOffset="5">{{movie.name}}</h4>
      <button mat-icon-button *ngIf="expanded" (click)="deleteMovie()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleShowDiv()" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content [@slideInOut]="animationState">
    <h2 style="padding-top: 20px;">{{movie.name}}</h2>
    <h3>Year:</h3>
    <p>{{movie.year}}</p>
    <h3>Length:</h3>
    <p>{{movie.length}}</p>
    <h3>IMDB rating:</h3>
    <p>{{movie.imdbRating}}</p>
    <h3>Director:</h3>
    <p>{{movie.directors}}</p>
    <h3>Actors:</h3>
    <p>{{movie.actors}}</p>
    <h3>Country:</h3>
    <p>{{movie.country}}</p>
    <h3>Production:</h3>
    <p>{{movie.production}}</p>
    <h3>Genre:</h3>
    <p>{{movie.genre}}</p>
    <h3>Description:</h3>
    <div>{{movie.description}}</div>
  </mat-card-content>

</mat-card>
