<div class="loading-indicator">
  <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav mode="over" opened="false">
    <mat-toolbar color="primary" class="sidenav-content"><span>Sidenav toolbar</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="omdbMenuExpanded = !omdbMenuExpanded">OMDB<mat-icon class="rightAlignment" [@indicatorRotate]="omdbMenuExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon></a>
      <mat-nav-list *ngIf="omdbMenuExpanded">
        <a mat-list-item class="nested-list-item" (click)="openGetOmdbMovieDialog()">Get movie</a>
        <a mat-list-item class="nested-list-item" (click)="importMovies()">Import movies</a>
      </mat-nav-list>

      <a mat-list-item (click)="moviesMenuExpanded = !moviesMenuExpanded">Movies<mat-icon class="rightAlignment" [@indicatorRotate]="moviesMenuExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon></a>
      <mat-nav-list *ngIf="moviesMenuExpanded">
        <a mat-list-item class="nested-list-item" (click)="openAddMovieDialog()">Add movie</a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="jumbotron my-4">
      <h1 class="display-3">Movies</h1>
      <button mat-icon-button matTooltip="Show carousel view" (click)="showAsCarousel = true; showAsList = false;">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Show list view" (click)="showAsCarousel = false; showAsList = true;">
        <mat-icon>view_stream</mat-icon>
      </button>
      <span class="example-fill-remaining-space"></span>
    </header>

    <!--<mat-card>-->
      <!--<div fxFlex="column" fxLayoutAlign="space-evenly start">-->
      <!--<mat-checkbox *ngFor="let genre of ALL_GENRES"-->
                    <!--value="{{genre}}"-->
                    <!--[checked]="true"-->
                    <!--(change)="updateGenres(genre, $event)">-->
        <!--{{genre}}-->
      <!--</mat-checkbox>-->
      <!--</div>-->
    <!--</mat-card>-->
    <app-movie-genre-bar [moviesByGenre]="moviesByGenre" (genresChanged)="updateGenres($event)"></app-movie-genre-bar>

    <!--TODO add into movie-carousel template-->
    <div *ngIf="showAsCarousel">
      <div *ngFor="let genreMovies of moviesByGenre">
        <app-movies-carousel [movies]="genreMovies.movies" [genre]="genreMovies.genre"
                             (movieDeleteEvent)="deleteMovie($event)"></app-movies-carousel>
      </div>
    </div>

    <div *ngIf="showAsList">
      <app-movies-list [movies]="allMovies" (movieDeleteEvent)="deleteMovie($event)"></app-movies-list>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
