<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Genre" matTooltipShowDelay="1500" >
  <mat-icon>filter_list</mat-icon>
</button>

<mat-menu #menu="matMenu" class="genre-menu">
  <div class="flex-grid">
    <div *ngFor="let genreMovies of moviesByGenre"  class="col">
    <mat-checkbox labelPosition="before"
                  value="{{genreMovies.genre}}"
                  [checked]="true"
                  (change)="updateGenres(genreMovies.genre, $event)">
      {{genreMovies.genre}}
    </mat-checkbox>
    </div>
  </div>
</mat-menu>
