<div class="loading-indicator">
  <mat-spinner *ngIf="showSpinner" style="margin:0 auto;"></mat-spinner>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav mode="over">
    <mat-toolbar color="primary" class="sidenav-content"><span>Sidenav toolbar</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="omdbMenuExpanded = !omdbMenuExpanded"><strong>OMDB</strong><mat-icon class="rightAlignment" [@indicatorRotate]="omdbMenuExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon></a>
      <mat-nav-list *ngIf="omdbMenuExpanded">
        <a mat-list-item class="nested-list-item" (click)="openGetOmdbMovieDialog()">Get TV Show</a>
        <a mat-list-item class="nested-list-item" (click)="importTvShows()">Import TV Show</a>
        <a mat-list-item class="nested-list-item" (click)="openImportMoviesDialog()">Import tvshows on front-end</a>
      </mat-nav-list>

      <a mat-list-item (click)="moviesMenuExpanded = !moviesMenuExpanded"><strong>TV Shows</strong><mat-icon class="rightAlignment" [@indicatorRotate]="moviesMenuExpanded ? 'expanded': 'collapsed'">expand_more</mat-icon></a>
      <mat-nav-list *ngIf="moviesMenuExpanded">
        <a mat-list-item class="nested-list-item" (click)="openAddMovieDialog()">Add TV Show</a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header class="jumbotron my-4">
      <h1 class="display-3">TV Shows</h1>
      <span class="example-fill-remaining-space"></span>
    </header>

    <app-movie-genre-bar [moviesByGenre]="tvShowsByGenre" (genresChanged)="updateGenres($event)"></app-movie-genre-bar>

    <mat-tab-group>
      <mat-tab label="Carousel view">
        <div *ngFor="let genreTvShows of tvShowsByGenre">
          <app-movies-carousel [movies]="genreTvShows.movies" [genre]="genreTvShows.genre"
                               (movieDeleteEvent)="deleteMovie($event)"></app-movies-carousel>
        </div>
      </mat-tab>
      <mat-tab label="Genre list view">
        <div *ngIf="allTvShows.length > 0">
          <app-movies-list-genre [movies]="allTvShows" [moviesByGenre]="tvShowsByGenre" (movieDeleteEvent)="deleteMovie($event)"></app-movies-list-genre>
        </div>
      </mat-tab>
      <mat-tab label="Plain list view">
        <div *ngIf="allTvShows.length > 0">
          <app-movies-list [movies]="allTvShows" (movieDeleteEvent)="deleteMovie($event)"></app-movies-list>
        </div>
      </mat-tab>
      <mat-tab label="HBO view">
        <div *ngFor="let genreMovies of tvShowsByGenre">
          <app-hbo-view [movies]="genreMovies.movies" [genre]="genreMovies.genre"></app-hbo-view>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>
