
.example-container {
  min-height: 400px;
}

.rightAlignment {
  position: absolute;
  right: 10px;
}

.nested-list-item {
  padding-left: 10px;
  font-size: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
