
.example-container {
  min-height: 400px;
}

.rightAlignment {
  position: absolute;
  right: 10px;
}

.nested-list-item {
  padding-left: 10px;
  font-size: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
