<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="logs/mmdb.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <!-- Log everything in custom package -->
        <Logger name="com.mmdb" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile" />
        </Logger>

        <!-- Log everything in Spring Boot -->
        <Logger name="org.springframework.boot" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile" />
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="org.springframework.core" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile" />
        </Logger>

        <!-- Log everything in Jackson packages -->
        <Logger name="com.fasterxml.jackson" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile" />
        </Logger>

        <root level="debug">
            <appender-ref ref="Console" level="debug"/>
            <appender-ref ref="MyFile" level="debug"/>
        </root>
    </loggers>
</Configuration>